{# 403ページ #}


<div class="tw-container tw-mx-auto tw-p-4">
	{% if page.header %}
		<header id="usuyuki-page-top" role="banner" class="pt-2" style='background-image:url("{{ base_path ~ directory }}/images/bg/wave-haikei-header-re.svg")'>
			<div class="w-full flex justify-between">
				<h2 class="text-2xl shippori-mincho yomogi ml-4">
					<a href="/">うすゆきポートフォリオ</a>
				</h2>
				<div class="md:mr-12">
					{{ page.header }}
				</div>
			</div>
		</header>
	{% endif %}

	<main role="main">
		<h1 class="text-center mt-12 mb-2 text-5xl">403エラー</h1>
		<h2 class="text-center mb-4 text-3xl yomogi">お探しのページのアクセス許可はありません。</h2>
		<img class="mx-auto contaion h-80" src="/themes/custom/usuyuki2021summer/images/error/shigureni_403.png">
	</main>


	{% if page.footer %}
		<footer class="footer-img relative mt-4  py-4  " role="contentinfo" style='background-image:url("{{ base_path ~ directory }}/images/bg/wave-haikei-footer-re.svg")'>

			<div class="bubbles ">
				<div class="bubble"></div>
				<div class="bubble"></div>
				<div class="bubble"></div>
				<div class="bubble"></div>
				<div class="bubble"></div>
			</div>

			<div class="w-full flex items-center justify-end   z-10">
				<a href="#usuyuki-page-top" class="">
					<img class="footer-fish mr-4 md:mr-12" src="{{ base_path ~ directory }}/images/icons/sakanaKey_animated.svg">
				</a>
			</div>
			<div class="mx-auto flex items-end z-10">
				{{ page.footer }}
			</div>

		</footer>

	{% endif %}

</div>
{# /.layout-container #}
